@media screen and (max-width: 750px) {
    .navnone {display: none;}
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style: none;
    display: block;
    margin: 0px;
    padding-left: 0px;
    }

    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    
    .sidenav a:hover {
    color: #f1f1f1;
    }
    
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 35px;
    padding: 10px;
    }

    .navbarside{
        margin-right: 20px;
        margin-left: 20px;
    }

    .content-foto-pc{
        

        width: 50%;
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .content-pc{
        display: block;
    }

    .tombol-unduh{
        padding: 15px;
    }
}
@media screen and (min-width: 751px) {
  .navbarside {display: none;}
  .close-navbar {display: none;}
  .content-foto-pc {width: 418px; height: 418px;}
  .content-pc {display: flex;}
}